.programming {
  background: linear-gradient(90deg, #a871ef 0%, #cf8bf3 40%, #fdb99b 100%);
}

.progress {
  background-color: rgb(40, 40, 40);
}

.software {
  background: linear-gradient(90deg, #de193a 0%, #fd7d5d 100%);
}

.skills {
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
}

.framework {
  background: linear-gradient(90deg, #fbab7e 0%, #f7ce68 100%);
}
