.programming{
    background: linear-gradient(90deg, #a871ef 0%, #cf8bf3 51%, #fdb99b 100%);
}

.progress{
    background-color: rgb(43, 43, 43);
}

.software{
    background: linear-gradient(90deg, #c0103c 0%, #f08064 100%)
}
